@media only screen and (max-width: 800px) {
    .header {
        font-size: 75px;
    }
}

.header {
	height: 200px;
	width: 100%;
	background-color: #ffffcc;
	border-bottom: double;
	border-width: 6px;
	border-color: #990000;
	text-shadow: 3px 2px 3px #57524B;
}

.header-content{
	margin: 0px auto;
	width: 50%;
	text-align: center;
}

.header-content h1 {
	font-family: 'Pacifico', cursive;
	font-style: italic;
	font-size: 75px;
	font-weight: lighter;
	display: inline;
	padding-left: 15px;
	padding-right: 37px;
	padding-bottom: 50px;
	color: #990000;
}

.cart-image, .mirrored-cart  {
	border-style: double;
	border-width: 6px;
	border-color: #990000;
	display: inline;
	margin-top: 40px;
	box-shadow: 3px 2px 3px #57524B;
}

h3 {
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 30px;
}

.item-input {
	margin: 0 auto;
	width: 20%;
	margin-bottom: 70px;
	text-align: center;
}

.input-box {
	border-width: 1.5px;
}

.add-item {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	width: 100px;
	height: 30px;
	background-color: #b3b3b3;
	border-radius: 25px;
	border-style: none;
	box-shadow: 3px 2px 3px #57524B;

}

.list-items {
	list-style: none;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 27px;
	width: 30%;
	margin: 0 auto;
}

.remove {
	background-color: #b3b3b3;
	border-radius: 25px;
	border-style: none;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;

}


