.header {
	height: 200px;
	width: 100%;
	background-color: #ffffcc;
	border-bottom: double;
	border-width: 6px;
	border-color: #990000;
	text-shadow: 3px 2px 3px #57524B;
}

.header-content{
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

.header-content h1 {
	font-family: 'Pacifico', cursive;
	font-style: italic;
	font-size: 75px;
	font-weight: lighter;
	display: inline;
	padding-left: 15px;
	padding-right: 37px;
	color: #990000;
}

.cart-image, .mirrored-cart  {
	border-style: double;
	border-width: 6px;
	border-color: #990000;
	display: inline;
	margin-top: 40px;
	box-shadow: 3px 2px 3px #57524B;
}

h3 {
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 30px;
}

@media (max-width: 880px) {

	.header-content h1 {
		font-size: 48px;
	}

	.cart-image, .mirrored-cart  {
		height: 50px;
		width: 50px;
		margin-top: 20px;	
	}	

	.header {
		height: 120px;	
	}
	
	.add-item, .clear-btn {
		font-size: 12px;
		width: 60px;
		height: 18px;
	}

	.item-input {
		width: 500px;
	}

	h3 {
		font-size: 12px;
	}	
	
	.list-items {
		font-size: 15px;
	}

	.item {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	.cart-image, .mirrored-cart  {	
		display: none;
	}
}

.item-input {
	margin: 0 auto;
	width: 50%;
	margin-bottom: 30px;
	text-align: center;
}

#input-box {
	border-width: 1.8px;
}

.add-item, .clear-btn {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	width: 100px;
	height: 30px;
	background-color: #b3b3b3;
	border-radius: 25px;
	border-style: none;
}

.list-items {
	list-style: none;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 27px;
	width: 20%;
	margin: 0 auto;
}

.remove {
	background-color: #b3b3b3;
	border-radius: 25px;
	border-style: none;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	padding-left: 3px;
	padding-right: 5px;
	float: right;	
}


